@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant Garamond', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: $font-jost;
    color: $green;
}

.main {
    position: relative;
    padding-bottom: 17rem;
    background: url('../images/main.png') no-repeat;
    background-size: cover;
    background-position-x: center;
    overflow: hidden;
    z-index: 0;
    &__item {
        max-width: 37.8rem;
        margin-left: 12rem;
        margin-top: 6rem;
    }

    &__link {
        margin-top: 6rem;
    }

    &__flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 180px;
    }

    &__cover {
        position: relative;
        flex-basis: 762px;
        height: 762px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 1px solid rgba($green, 0.4);
    }

    &__line {
        width: 658px;
        height: 658px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 1px solid rgba($green, 0.4);
    }

    &__img {
        width: 92%;
        height: 92%;
        border-radius: 100%;
        box-shadow: 10px 20px 30px 0 rgb(0 0 0 / 30%);
    }

    &__btn {
        position: absolute;
        padding: 0;
        text-align: left;
        line-height: 1.5;
        border: none;
        background-color: transparent;

        &::before {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            background-color: $green;
            border-radius: 100%;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
        }

        &_1 {
            top: 43px;
            left: 64px;

            &::before {
                top: 25px;
                left: 85px;
            }
        }

        &_2 {
            top: 191px;
            right: 3px;

            &::before {
                top: 20px;
                left: -25px;
            }
        }

        &_3 {
            bottom: -49px;
            right: 244px;

            &::before {
                bottom: 58px;
                right: 31px; 
            }
        }
    }

    &__food {
        display: block;
        color: rgba($green, 0.8);
    }

    &__tomato {
        position: absolute;
        right: -45px;
        bottom: 100px;
        width: 110px;
        z-index: -1;
    }

    &__pepper {
        position: absolute;
        top: 400px;
        left: 40px;
        width: 86px;
        z-index: -1;
    }

    &__cucumber {
        position: absolute;
        top: 0;
        left: 35%;
        width: 85px;
        z-index: -1;
    }

    &__avocado {
        position: absolute;
        right: 0;
        top: 56px;
        width: 178px;
        z-index: -1;
    }

    &__beans {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 105px;
        z-index: -1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 4rem 15px 0 15px;

    &__nav {
        display: flex;
        gap: 48px;
        list-style-type: none;
        margin: 0;
        margin-right: 12rem;
        padding-left: 0;
    }

    &__link {
        color: $green;
        text-decoration: none;

        &:hover {
            color: $orange;
        }
    } 

    &__tel {
        font-weight: 500;
        color: $green;
        text-decoration: none;

        &:hover {
            color: $orange;
        }
    }

    &__cart {
        position: relative;
        display: block;
        width: 3.8rem;
        height: 3.8rem;
        border: 1px solid $orange;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart-black.svg);
        background-repeat: no-repeat;
        background-size: 1.7rem 1.5rem;
        background-position: center center;

        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }

    &__counter {
        position: absolute;
        right: 8px;
        top: 6px;
        font-size: .8rem;
        color: $white;
    }
}

.logo {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 123px;
    height: 32px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    /*margin-top: 4rem;*/
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    margin: 0;
    margin-top: 3.5rem;
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 8rem;

    &__span {
        font-style: italic;
    }

    &_block {
        .title__span {
            display: block;
        }
    }
}

.description {
    margin: 0;
    &_size-s {
        font-size: 1.8rem;
    }

    &_size-m {
        font-size: 2.4rem;
    }
}

.link {
    display: inline-block;
    padding: 2rem 4.2rem;
    border-radius: 3.8rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.2rem .2rem rgba(207, 92, 13, 0.2);
    letter-spacing: 0.13rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
}

.offer {
    background: url('../images/offer.png') no-repeat;
    background-size: cover;
    background-position-x: center;
    padding-bottom: 12.8rem;

    &__text {
        margin-top: 5.7rem;
        max-width: 700px;
    }

    &__slider {
        padding-top: 9.5rem;
        overflow: hidden;
    }
}

.swiper {
    overflow: initial;

    &-slide {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 520px;
        box-sizing: border-box;
        padding: 4rem 3.7rem;
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;

        &_milk {
            background: url(../images/milk.png);
        }

        &_pasta {
            background: url(../images/pasta.png);
        }

        &_meet {
            background: url(../images/meet.png);
        }

        &:hover {
            box-shadow: 0 0 0 2px rgba($green, .4) inset;

            &::after {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                background-color: rgba($white, 0.55);
                border-radius: 20px;
                z-index: -1;
            }
        }

        &:hover .swiper-slide__hover {
            height: 233px;
        }

        &__title {
            margin: 0;
            font-family: $font-cormorant;
            font-weight: 700;
            font-size: 3rem;
            letter-spacing:0.03rem;
            line-height: 0.5;
        }

        &__hover {
            height: 0;
        }

        &__text {
            margin: 0;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            max-width: 265px;
            color: rgba($green, .7);
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 2rem;
            color: $green;
            text-decoration: none;
            text-transform: uppercase;
            opacity: .8;

            &:hover {
                opacity: 1;
            }

            &::before {
                content: '';
                width: 30px;
                height: 30px;
                background: url(../images/plus.svg) no-repeat;
                background-size: cover;
            }
        }


    }

    &-pagination {
        display: none; 
    }

    &-button-next, &-button-prev {
        top: -65px;
        right: -8px;
    } 

    &-button-prev {
        left: auto;
        right: 75px;
    }

    &-button-next::after, &-button-prev::after {
        color: rgba($green, .4);
        font-size: 2rem;
    }

    &-button-next:hover::after, &-button-prev:hover::after {
        color: rgba($green, 1);
    }
}

.about {
    background: url('../images/about.png') no-repeat;
    background-size: cover;
    background-position-x: center;
    padding-bottom: 12.8rem;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6rem;
    }

    &__text {
        margin-left: 12rem;
        max-width: 590px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        width: 467px;
        margin: 0;
        list-style: none;
        
        
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        font-family: $font-cormorant;
        font-style: italic;
        font-weight: 700;
        font-size: 3rem;

        &::before {
            content: '';
            width: 85px;
            height: 85px;
            border: 1px solid rgba($green, .4);
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        &_fruits {
            &::before {
                background-image: url(../images/fruits.png);
                background-size: 43px 40px;
            }
        }

        &_traditional {
            &::before {
                background-image: url(../images/traditional.png);
                background-size: 40px 40px;
            }
        }

        &_good {
            &::before {
                background-image: url(../images/good.png);
                background-size: 45px 40px;
            }
        }
    }
}
  