@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant Garamond', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}

.main {
    background: url('../images/main.png') no-repeat;
    background-size: cover;
    background-position-x: center;
    &__item {
        max-width: 37.8rem;
        margin-left: 12rem;
        margin-top: 6rem;
    }

    &__link {
        margin-top: 6rem;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 15px 0 15px;

    &__nav {
        display: flex;
        gap: 48px;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

    &__link {
        color: $green;
        text-decoration: none;

        &:hover {
            color: $orange;
        }
    } 

    &__tel {
        font-weight: 500;
        color: $green;
        text-decoration: none;

        &:hover {
            color: $orange;
        }
    }

    &__cart {
        position: relative;
        display: block;
        width: 3.8rem;
        height: 3.8rem;
        border: 1px solid $orange;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart-black.svg);
        background-repeat: no-repeat;
        background-size: 1.7rem 1.5rem;
        background-position: center center;

        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }

    &__counter {
        position: absolute;
        right: 8px;
        top: 6px;
        font-size: .8rem;
        color: $white;
    }
}

.logo {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 123px;
    height: 32px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 4rem;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    margin: 0;
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;

    &__span {
        font-style: italic;
    }

    &_block {
        .title__span {
            display: block;
        }
    }
}

.description {
    margin: 0;
    &_size-s {
        font-size: 1.8rem;
    }
}

.link {
    display: inline-block;
    padding: 2.5rem 4.2rem;
    border-radius: 3.8rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.2rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
}


  